<template>
    <div>

        <div class="form-group">
            <label :for="field.real_name" class="control-label">{{ field.label }}</label>
            <div v-if="fileSource" class="image-wrap pb-3">
                <a href="#" @click.prevent="removeImage()" class="file-remove-btn">
                    <i class="fa fa-times"></i>
                </a>
                <img v-img-orientation-changer class="img-thumbnail" :src="fileSource" alt="">
            </div>
            <input class="form-control box-sizing" :name="field.real_name" type="file" ref="fileInput">
            <input class="form-control" :name="removeInputName()" type="hidden" :value="removeInputValue"
                   ref="removeInput">

        </div>
    </div>
</template>

<script>
    export default {
        name: "image-field",
        props: [
            'field-data'
        ],
        data() {
            return {
                field: {},
                fileReader: null,
                fileSource: null,
                removeInputValue: 0,
                fileInput: null,
            }
        },
        mounted() {
            let vm = this;
            this.fileReader = new FileReader();
            this.field = Object.assign({}, JSON.parse(this.fieldData));

            this.fileSource = this.field.attr.image_path;
            this.fileInput = this.$refs.fileInput;

            this.fileInput.addEventListener('change', function (e) {
                let file = e.target.files.item(0);
                return file ? vm.fileReader.readAsDataURL(file) : false;
            });

            this.fileReader.onloadend = function (e) {
                let base = e.target.result;
                vm.setFileSource(base ? base : null);
            };
            console.log(this.fileSource);
        },
        methods: {
            removeImage() {
                this.setFileSource(null);
                this.setFileInput(null);
            },
            setFileSource(fileSource) {
                this.fileSource = fileSource;
                this.setRemoveInput(!this.fileSource);
            },
            setRemoveInput(value) {
                this.removeInputValue = !!value ? 1 : 0;
            },
            setFileInput(value) {
                $(this.fileInput).val(value).change();
            },
            removeInputName() {
                return 'remove_image_' + this.field.real_name;
            }
        }
    }
</script>

<style scoped>

    .image-wrap {
        max-width: 260px;
        max-height: 260px;
        min-height: 270px;
        position: relative;
    }

    .image-wrap img {
        width: auto;
        height: auto;
        max-height: 260px;
        object-fit: contain;
    }

    .image-wrap .file-remove-btn {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
        border: 1px solid #ddd;
        border-radius: 50%;
        padding: 0 6px;
        color: #005e35;
        transition: .15s linear;
    }

    .file-remove-btn:hover {
        color: #f2dac2;
        background-color: #005e35;
        border-color: #005e35;
    }

    .box-sizing{
        box-sizing: content-box;
    }
</style>