// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//FontAwesome5.9.0
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';

//DATATIMEPICKER
@import "~bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker";

//SELECTPICKER
@import "~bootstrap-select/sass/bootstrap-select";

// LEAFLETMAP
@import "~leaflet/dist/leaflet.css";

//FRONT
@import "front/_front_common.scss";
@import "front/_front_button.scss";
@import "front/_front_my_relations.scss";
@import "front/_map.scss";

a{
    color: #000 !important;
    text-decoration: none;
}

.form-control{
    border-radius: 0px !important;
    border: 1px solid #ced4da !important;
}

.card{
    margin-bottom: 20px;
    border-radius: 0px !important;;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    &-header{
        font-size: large;
        color: #000;
    }
}