body{
  header.navbar{
    padding: 0rem 0rem 0rem 0rem;
    z-index: 9999;
    background-color: #fff;
    width: 100%;
    position: fixed;
    .navbar-brand{
      padding-top: 0px;
      padding-bottom: 0px;
      margin-right: 0.2rem;
    }
    #dropdownMenuButton{
      color: #000;
    }
    img{
      width: 184px;
      color: #000;
    }
    .breadcrumb{
      background-color: #fff;
      margin-top: 0.2rem;
      margin-bottom: 0.2rem;
        .breadcrumb-item{
          a{
            color: #000;
          }
        }
    }
  }
}