#sidebar{
  height: 100%;
  width: 184px;
  background-color: #fff;
  position: fixed;
  border-right: 2px solid #e8e8e8;
  nav{
    margin-top: 60px;
    a{
      color: #000;
      &:hover{
        background-color: #e8e8e8;
      }
    }
  }
}