.relations_list{
  padding-top: 0px !important;
  width: 100%;
  .relation{
    .relation_author{

    }
    .relation_image{
      .image {
        width: 100%;
        height: 222px;
      }
    }
    .relation_comment{

    }
    .relation_created_at{

    }
  }
}