.relations_list{
  padding-top: 0px !important;
  width: 100%;
  .relation {
      .relation_image {
        .image {
            width: 100%;
            height: 222px;
          }
        }
      }
    .relation_local{

    }
    .relation_content{

    }
  }




