body, html{
  padding: 0;
  margin: 0;
  height: 100%
}

  #container{
    position: relative;
    min-height: 100%;
    background: linear-gradient(to left top, #ded1e0, #fff);

    .wrap{
      margin: 0 auto;
    }

    header{
      height: 60px;
      background-color: #fff;
      .logo{
        img{
          width: 207px;
        }
      }
      .wrap{
        .buttnos{
          margin-top: 10px;
          .avatar-mini{
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
          .navbar-loged-user #dropdownMenuButton.dropdown-toggle{
            padding: 0px;
          }
        }
      }
    }

    nav{
      font-size: 16px;
      background: linear-gradient(to right, #22085b, #ae4242, #ca7f7f);
      .nav{
        .nav-item.active{
          background-color: #c97d7d42;
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
        }
      }
      #content_header{
        background-color: #fff;
        padding-bottom: 5px;
        padding-top: 5px;
        border-bottom: 1px solid #22085b;
      }
    }

    main{
        padding-bottom: 85px;
        .wrap{
          padding-top: 20px;
          .locals_list{
            .card_local{
              &_image{
                img{
                  width: 100%;
                  height: 222px;
                }
              }
              &_content{
                padding: 10px;
                &_type_name{
                  color: #8e8e8e;
                  font-weight: 400;
                }
                &_name{
                  font-weight: bold;
                  font-size: 1.5em;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  border-bottom: 1px solid #dee2e6;
                }
                &_opening_hours{
                  border-bottom: 1px solid #dee2e6;
                }
                &_stats{
                  padding-top: 10px;
                  &_rating{
                    text-align: center;
                    i{
                      color: #ffc200;
                    }
                  }
                  &_comment{
                    text-align: center;
                    i{
                      color: #377ea4;
                    }
                  }
                }
              }
            }
          }
          .home_card{
            text-align: center;
            font-weight: bold;
            font-size: large;
            height: 170px;
            @media screen and (min-width: 767px){
              height: 25vh;
            }
            justify-content: center;
            i{
              font-size: xxx-large;
              margin-bottom: 15px;
            }
            a{
              color: #000;
            }
            a:hover{
              text-decoration: none;
            }
          }
          .images{
            img{
              width: 100%;
              height: 360px;
              vertical-align: middle;
              margin-top: -10px;
            }
          }
          .basic-informations{
            width: 100%;
            height: 350px;
            .info{
              height: 250px;
              .name{
                max-height: 180px;
              }
              .address{
                max-height: 70px;
              }
            }
            .stats_info{
              font-size: xx-large;
              .rating{
                i{
                  color: #ffc200;
                }
              }
              .comments{
                i{
                  color: #377ea4;
                }
              }
              .followers{
                i{
                  color: #60a437;
                }
              }
            }
          }
          .information-content{
            width: 100%;
            margin-top: 10px;
            .nav{
              font-size: xx-large;
              list-style: none;
              margin-top: -30px;
              display: flex;
              li{
                margin-left: 20px;
                margin-right: 20px;
                a.active{
                  margin-top:18px;
                }
                a{
                  color: #fff;
                }
                .description{
                  background-color: #f26c4f;
                }
                .program{
                  background-color: #6495ed;
                }
                .events{
                  background-color: #64daed;
                }
                .map{
                  background-color: #6495ed;
                }
                .menu{
                  background-color: #82da3a;
                }
              }
              li:last-child{
                margin-right: 0px;
              }
            }
            .tab-content{
              .tab-pane{
                padding-bottom: 10px;
                padding-top: 10px;
              }
              .description{
                border-top: 1px solid #f26c4f;

              }
              .program{
                border-top: 1px solid #6495ed;

              }
              .events{
                border-top: 1px solid #64daed;
              }
              .map{
                border-top: 1px solid #6495ed;
              }
              .menu{
                border-top: 1px solid #82da3a;
              }

            }
          }
          .comments_content{
            padding-top: 0px !important;
            width: 100%;
            .comments_header{
              background-color: #343a40;;
              color: #fff;
              padding: 0px 10px 0px 10px;
              .comments_title{
                font-size: xx-large;
                font-weight: bold;
              }
              .filter_comments{
                .filters_btn{
                  margin-top: 6px;
                  font-size: medium;
                  font-weight: bold;
                  background-color: #fff;
                  border: 1px solid #fff;
                  border-radius: 8px;
                  color: #343a40;
                }

              }
            }
            .comment{
              padding: 10px;
              border-top: 1px solid #DDD;
              border-bottom: 1px solid #DDD;
              .comment_local{
                a{
                  color: #000;
                }
                font-weight: bold;
              }
              .comment_local_image{
                .image{
                  border-radius: 50%;
                  border: 1px solid #343a40;
                  width: 68px;
                  height: 68px;
                }
              }
              .comment_author{
                font-weight: bold;
              }
              .comment_author_image{
                .image{
                  border-radius: 50%;
                  border: 1px solid #343a40;
                  width: 68px;
                  height: 68px;
                }
              }
              .comment_rating{
                i{
                  color: #ffc200;
                }
              }
              .comment_content{
                padding-top: 5px;
                padding-bottom: 5px;
              }
              .comment_buttons{
                .btn:hover{
                  //box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
                  font-weight: bolder;
                }
              }
            }
          }
        }
    }


    footer{
      position: absolute;
      bottom: 0;
      height: 85px;
      width: 100%;
      background: #af4545;
      color: #fff;
      .wrap{
        .footer-logo{
          float:left;
          width: 300px;
          margin: 30px 0 0 95px;
          .ftr-logo{
            width: 130px;
          }
        }
        .footer-contact{
          font-size: 24px;
          width: 400px;
          float: right;
          text-align: right;
          margin: 30px 95px 0 0;
        }
      }
    }
  }

